#background{
z-index: -1;
position: fixed;
background-color: #2f2f2f;
opacity:0.15;
height: 100%; width: 100%;
top:0px; left:0px;}
#panel {
position: fixed;
height: 700px;
width: 1000px;
border: black 1px solid;
top: 20px;
left: 150px;
}
.innerpl{
width: 700px;
position:relative;
margin: 0 auto;
margin-top: 10px;
border: black 1px solid;
background-color: white;
padding: 50px;
}

.input{ margin-left: 50px;}
#namErr{ margin-left: 50px;}
.error{color:red; font-size: 12px; visibility:hidden;}
#description{ height: 200px; width: 650px; border: black 1px solid; margin-top:50px; padding-left:20px; padding-right:20px;}
#entgamebtn{ margin-top: 20px; margin-left: 300px; background-color:red; color:white;}
#close{ visibility:hidden; float:right; padding: 15px; background-color:red; color:white; font-weight:bold;}
.hideMenu{display:none;}
.headingMenu { font-weight: bold; text-decoration: underline;}
#tutorial{ background-image: url("/static/img/BMtut.png"); font-weight: bold; height:25px; border-color: yellow;}

#wrapper{
margin-top: 40px;
min-height: 595px;
min-width:700px;
float:left;
margin-left:300px;
}

#leftBar{
top: 40px;
position: absolute;
left:50px;
}

#rightBar{
top: 40px;
position: absolute;
left: 1055px;
}
#headerRB{ border: 2px black solid; height:50px; width:166px; background-color:white; padding:15px;}
.heading{ float:left; font-weight:bold; text-decoration:underline;}
.lbl{float:right;}
.lblNum{float:right; margin-right:7px;margin-top:10px; font-size: 10px;}
#bodyRB { border: 2px black solid; border-top-width: 0px; height:450px; width:146px; background-color:white; margin-left:30px; padding:10px;}
.statBar{ border: 1px black solid; height:10px; width:100px; background-color:#777; margin-top:4px; margin-left:40px;}
.statBa{ border: 1px black solid; height:10px; background-color:green; margin-top:-1px; margin-left:-1px;}

.menuBut{
margin-left:-10px;
border-radius: 50%;
border: 3px solid black;
width: 106px;
float:left;
}
.menuBut:hover{border: 3px solid gold;}

.timeBox{
margin:10px;
width: 25px;}

#stockTable{ border-spacing: 5px;}
#appTable, #mailTable { border-collapse: collapse; width: 85%;}
#mailTableBody {display:none;}
#headingApps{font-weight:bold;}
th, td { border: 1px solid black;text-align:center;}
.itemPic {
height: 75px;}
.itemName, .itemPic{
width: 75px;
border: 1px solid black;
margin: 1px;}
#tablePicr1c1{
background-image: url("/static/img/Apple.png");
}
#tablePicr1c2{
background-image: url("/static/img/Pen.png");
}
#tablePicr1c3{
background-image: url("/static/img/Drink.png");
}

#applyInfo{ border: black 1px solid; margin: 10px; padding: 10px;}

#homeBtn{
background-image: url("/static/img/homeBtn.png");
height:20px; width:20px;
border-radius:50%;
border: black 1px solid;
position: absolute;
}
#homeBtn:hover(){border: gold 1px solid;}
.building_svg{position: absolute;}
.building_polygon{
	position: fixed;
	opacity: 0;
}
.building_polygon:hover{
fill:gold;
opacity: 0.30;
}

.benOff{
top: 406px;
left: 619px;
}
.train{
top: 257px;
left: 880px}
.butcher{
top: 423px;
left: 815px}
.barbers{
top: 416px;
left: 595px}
.library{
top: 211px;
left: 635px}
.laundrette{
top: 191px;
left: 305px}
.bank{
top: 166px;
left: 306px}
.store{
top: 166px;
left: 374px}
.gym{
top: 175px;
left: 682px}
.doctors{
top: 272px;
left: 724px}
.college{
top: 328px;
left: 447px;}
.police{
top: 340px;
left: 823px;}
.fire{
top: 373px;
left: 869px;}
.post{
top: 365px;
left: 810px;}
.pawn{
top: 382px;
left: 793px;}
.appliance{
top: 422px;
left: 844px;}
.clothes{
top: 400px;
left: 777px;}
.furniture{
top: 478px;
left: 870px;}
.garage{
top: 541px;
left: 953px;}
.show{
top: 587px;
left: 927px;}
.restaurant{
top: 612px;
left: 870px;}
.motel{
top: 611px;
left: 791px;}
.church{
top: 611px;
left: 633px;}
.toilet{
top: 608px;
left: 607px;}
.petrol{
top: 620px;
left: 557px;}
.lumberjacks{
top: 606px;
left: 523px;}