{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row content">
        <div id="leftBar" class="panel panel-primary">
            <div class="panel-heading">Legend</div>
            <img src="/static/img/BMleftBar.png" class="img-rounded" alt="Left_bar"></div>
        <div id="wrapper" class="panel panel-primary">
            <div class="panel-body">
                <button class="btn btn-primary navbar-btn btn-lg" style="margin:25px;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>
 Click Me!</button>
                <ul class="nav navbar-nav">
                    <li title="Map" class="menuBut">
                        <img src="/static/img/BMbtnMap.png" class="img-circle" alt="Map">
                    </li>
                    <li title="Inventory" class="menuBut">
                        <img src="/static/img/BMbtnInventory.png" class="img-circle" alt="Inventory">
                    </li>
                    <li title="Jobs List" class="menuBut">
                        <img src="/static/img/BMbtnJobList.png" class="img-circle" alt="Job List">
                    </li>
                    <li title="Mail" class="menuBut">
                        <img src="/static/img/BMbtnMail.png" class="img-circle" alt="Mail">
                    </li>
                </ul>
            </div>
            <div class="panel-body" style="margin-top:-30px;">
                <img src="{% static "img/BMmap.png" %}" alt="Map" usemap="#map">
            </div>
        </div>
        <div id="rightBar" class="panel panel-primary">
            <div class="panel-heading">Stats</div>
            <div class="panel-body">
                <div class="heading">Day: </div><div id="daylbl" class="lbl">22/07/2015</div>
                </br>
                <div class="heading">Time: </div><div id="timelbl" class="lbl">12:00 pm</div>
            </div>
            <div class="panel-body">
                <div class="heading">Name: </div><div id="namelbl" class="lbl">{{ user.name }}</div>
                </br>
                <div class="heading">Status: </div><div id="statuslbl" class="lbl">{{ user.status }}</div>
                </br>
                <div class="heading">Money: </div><div id="moneylbl" class="lbl">£{{ pounds }}.{{ pence }}</div>
                </br></br>
                <div class="heading">Energy: </div><div id="energylbl" class="lblNum">{{ user.energy }} / 100</div></br><div id="energybar" class="statBar"><div id="energyba" class="statBa"></div></div>
                <div class="heading">Hunger: </div><div id="hungerlbl" class="lblNum">{{ user.hunger }} / 100</div></br><div id="hungerbar" class="statBar"><div id="hungerba" class="statBa"></div></div>
            </div>
        </div>
    </div>

    <!-- buildings on map -->
    <div>
        {% if user.starting_point == '1' %}
        <div id="homeBtn" class="building_svg" style="display:inline; top:200px; left: 820px"></div>
        {% endif %}
        <polygon  class="benOff building_svg" title="Benefits' Office" style="height:50px; width:25px;" points="0,0,22,0,22,45,0,45"></polygon>
        <svg class="gym building_svg" style="pointer-events: none" height="50" width="62" >
            <polygon class="building_polygon" title="Gym" style="pointer-events: painted;" points="20,0,60,28,43,48,0,18"/>
        </svg>

    </div>
{% endblock %}

{% block javascript %}
    <!-- <script src = "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src = "https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script> -->
{% endblock %}