{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="background"></div>
    <div id="leftBar" class="bar"></div>
    <div id="wrapper">
        <input id="tutorial" onclick="Tutorial()" type="button" value="Click Me!">
        <div id="hb5" class="menuBut">
        </div>
        <div id="mail" title="Mail" onclick="Mail()" class="menuBut">
        </div>
        <div id="jobList" title="Jobs List" onclick="JobsList()" class="menuBut">
        </div>
        <div id="inventory" title="Inventory" onclick="Inventory()"class="menuBut">
        </div>
        <div id="map" title="Map" class="menuBut">
        </div>
        <div id="mapImage">
            <img src="{% static "img/BMmap.png" %}" alt="Map" usemap="#map">
        </div>
    </div>
    <div id="rightBar" class="bar">
        <div id="headerRB">
            <div class="heading">Day: </div><div id="daylbl" class="lbl">22/07/2015</div>
            </br>
            <div class="heading">Time: </div><div id="timelbl" class="lbl">12:00 pm</div>
        </div>
        <div id="bodyRB">
            <div class="heading">Name: </div><div id="namelbl" class="lbl">{{ user.name }}</div>
            </br>
            <div class="heading">Status: </div><div id="statuslbl" class="lbl">{{ user.status }}</div>
            </br>
            <div class="heading">Money: </div><div id="moneylbl" class="lbl">£{{ pounds }}.{{ pence }}</div>
            </br></br>
            <div class="heading">Energy: </div><div id="energylbl" class="lblNum">{{ user.energy }} / 100</div></br><div id="energybar" class="statBar"><div id="energyba" class="statBa"></div></div>
            <div class="heading">Hunger: </div><div id="hungerlbl" class="lblNum">{{ user.hunger }} / 100</div></br><div id="hungerbar" class="statBar"><div id="hungerba" class="statBa"></div></div>
        </div>
    </div>

    <div>
        {% if user.starting_point == '1' %}
        <!-- under the bridge -->
        <div id="homeBtn" class="building" style="display:inline; top:200px; left: 820px"></div>
        {% endif %}
        <svg class="benOff building" style="pointer-events: none" height="50" width="25" >
                    <polygon  title="Benefits' Office" style="pointer-events: painted" style="position:fixed;" onclick="buildings(this)" onmouseover="highlight(this)" onmouseout="dehighlight(this)" points="0,0,22,0,22,45,0,45"/>
                </svg>
    </div>
{% endblock %}

{% block javascript %}
    <!-- <script src = "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src = "https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script> -->
{% endblock %}