            <div class="panel-body">

                <a href="?building=tutorial">
                    <button class="btn btn-primary navbar-btn btn-lg" style="margin:25px; float:left;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Tutorial</button>
                </a>

                <ul class="nav navbar-nav">
                  <a href="\home\{{user.id}}">
                    <li title="Map" class="menuBut">
                        <img src="/static/img/BMbtnMap.png" class="img-circle" alt="Map">
                    </li>
                  </a>
                  <a href="\inventory\{{user.id}}">
                    <li title="Inventory" class="menuBut">
                        <img src="/static/img/BMbtnInventory.png" class="img-circle" alt="Inventory">
                    </li>
                  </a>
                  <a href="\job_list\{{user.id}}">
                    <li title="Jobs List" class="menuBut">
                        <img src="/static/img/BMbtnJobList.png" class="img-circle" alt="Job List">
                    </li>
                  </a>
                  <a href="\mail\{{user.id}}">
                    <li title="Mail" class="menuBut">
                        <img src="/static/img/BMbtnMail.png" class="img-circle" alt="Mail">
                    </li>
                  </a>
                </ul>
            </div>